body {
    font-family: monospace;
    background-color: #91b7be;
    background-image: url("resources/background.png");
    font-size: 16px;
}

h1 {
    background-color: #b5d88f;
    border: solid 2px #406e0f;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

.navigation a {
    color: black;
    background-color: #b5d88f;
    border: solid 2px #406e0f;
    text-decoration: none;
    padding: 0.5em;
    margin: 0.5em;
}

.navigation a:hover {
    box-shadow: 3px 3px 3px black;
    margin: 0.6em;
}

.table {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #4b757d;
}

.table tr:nth-child(even) {
    background-color: #afcdd3
}

.table th {
    background-color: #699098;
}

.table td, table th {
    padding-top: 1em;
    padding-bottom: 0em;
}

.buytable tr:nth-child(even), buytable th:nth-child(even) {
    background-color: #afcdd3
}

.login {
    width: 300px;
    clear: both;
}

.login input {
    width: 100%;
    clear: both;
    margin-bottom: 0.5em;
}

.login button {
    color: white;
    background-color: #4b757d;
    text-decoration: none;
    padding: 0.4em;
    margin: 0.4em;
    border: none;
    font-size: 16px;
}

.login button:hover {
    box-shadow: 3px 3px 3px gray;
    cursor: pointer;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
}

#bold {
    font-weight: bold;
}

#money:before {
    content: "$";
}

#money {
    text-align: right;
}

.button a {
    color: white;
    background-color: #406e0f;
    text-decoration: none;
    padding: 0.4em;
    margin: 0.4em;
}

.button a:hover {
    box-shadow: 3px 3px 3px gray;
}

#buybutton {
    padding-top: 0em;
}