@keyframes button {
    from {
        box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.5);
        padding: 0.4em;
        margin: 0.4em;
    }
    to {
        box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
        padding: 0.5em;
        margin: 0.3em;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #b5d88f;
    background-image: url("resources/background.png");
    font-size: 16px;
}

.back {
    background-color: rgba(181, 216, 143, 0.9);
    margin-left: 30px; 
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0.5em 0em;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font-family: 'Patua One', cursive;
    color: #23360e;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: 'Patua One', cursive;
    color: #23360e;
    text-decoration: underline;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

table {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #406e0f;
}

table tr {
    background-color: #b5d88f
}

table tr:nth-child(even) {
    background-color: #a4c97c
}

table th {
    background-color: #75a740;
    color: #23360e;
}

table td, table th {
    padding-top: 1em;
    padding-bottom: 0em;
}

.form {
    width: 300px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form input {
    width: 100%;
    clear: both;
    margin-bottom: 0.5em;
}

#button {
    margin-bottom: 20px;
}

#button a, button {
    color: white;
    background-color: #406e0f;
    text-decoration: none;
    padding: 0.4em;
    margin: 0.4em;
    border: none;
    font-size: 16px;
}

#button a:hover, button:hover {
    animation-name: button;
    animation-duration: 0.1s;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
    cursor: pointer;
    padding: 0.5em;
    margin: 0.3em;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
}

#bold {
    font-weight: bold;
}

#money:before {
    content: "$";
}

#money {
    text-align: right;
}

#break {
    margin-bottom: 20px;
}